{
  "openapi": "3.0.3",
  "info": {
    "title": "Magical Headlines API",
    "version": "1.0.0",
    "description": "Real-time financial attention feed API for institutional clients. Provides trending news markets ranked by trading volume, designed for hedge funds, media companies, and trading bots.",
    "contact": {
      "name": "Magical Headlines API Support",
      "email": "api@magicalheadlines.com",
      "url": "https://magicalheadlines.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://magicalheadlines.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://magicalheadlines.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001/api/v1",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Markets",
      "description": "Financial market data and trending information"
    }
  ],
  "paths": {
    "/trending": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get trending markets",
        "description": "Retrieve the top 10 trending news markets ranked by 24-hour trading volume. This endpoint provides real-time financial attention data for institutional clients.",
        "operationId": "getTrendingMarkets",
        "responses": {
          "200": {
            "description": "Successfully retrieved trending markets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingResponse"
                },
                "example": {
                  "trending_markets": [
                    {
                      "rank": 1,
                      "market_id": "cmh29uvob0003u6h0lzdzvex9",
                      "headline": "Federal Reserve Announces Interest Rate Decision",
                      "volume_24h": 1250.67,
                      "current_price": 0.045,
                      "price_change_24h": 12.5,
                      "market_cap": 45000.0,
                      "tags": [
                        {
                          "id": "fed",
                          "name": "Federal Reserve"
                        },
                        {
                          "id": "rates",
                          "name": "Interest Rates"
                        }
                      ],
                      "traders_count": 156,
                      "created_at": "2025-10-22T17:33:19.451Z"
                    },
                    {
                      "rank": 2,
                      "market_id": "cmh29uvob0003u6h0lzdzvex8",
                      "headline": "Tesla Reports Record Q3 Earnings",
                      "volume_24h": 980.23,
                      "current_price": 0.032,
                      "price_change_24h": -5.2,
                      "market_cap": 32000.0,
                      "tags": [
                        {
                          "id": "tesla",
                          "name": "Tesla"
                        },
                        {
                          "id": "earnings",
                          "name": "Earnings"
                        }
                      ],
                      "traders_count": 89,
                      "created_at": "2025-10-22T16:45:12.123Z"
                    }
                  ],
                  "aggregate_stats": {
                    "total_markets": 45,
                    "total_volume_24h": 1250.67,
                    "total_traders": 234,
                    "timestamp": "2025-10-22T17:51:28.517Z"
                  }
                }
              }
            },
            "headers": {
              "X-API-Version": {
                "description": "API version",
                "schema": {
                  "type": "string",
                  "example": "1.0.0"
                }
              },
              "Cache-Control": {
                "description": "Caching directive",
                "schema": {
                  "type": "string",
                  "example": "max-age=60, s-maxage=60"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "message": "Failed to fetch trending markets data"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrendingMarket": {
        "type": "object",
        "required": [
          "rank",
          "market_id",
          "headline",
          "volume_24h",
          "current_price",
          "price_change_24h",
          "market_cap",
          "tags",
          "traders_count",
          "created_at"
        ],
        "properties": {
          "rank": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Market ranking position (1-10)",
            "example": 1
          },
          "market_id": {
            "type": "string",
            "description": "Unique identifier for the market",
            "example": "cmh29uvob0003u6h0lzdzvex9"
          },
          "headline": {
            "type": "string",
            "description": "News headline associated with the market",
            "example": "Federal Reserve Announces Interest Rate Decision"
          },
          "volume_24h": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "24-hour trading volume in SOL",
            "example": 1250.67
          },
          "current_price": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "Current token price in SOL",
            "example": 0.045
          },
          "price_change_24h": {
            "type": "number",
            "format": "float",
            "description": "24-hour price change percentage",
            "example": 12.5
          },
          "market_cap": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "Total market capitalization in SOL",
            "example": 45000.0
          },
          "tags": {
            "type": "array",
            "description": "Associated story tags",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "traders_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of unique traders in this market",
            "example": 156
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the market was created",
            "example": "2025-10-22T17:33:19.451Z"
          }
        }
      },
      "Tag": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique tag identifier",
            "example": "fed"
          },
          "name": {
            "type": "string",
            "description": "Human-readable tag name",
            "example": "Federal Reserve"
          }
        }
      },
      "AggregateStats": {
        "type": "object",
        "required": [
          "total_markets",
          "total_volume_24h",
          "total_traders",
          "timestamp"
        ],
        "properties": {
          "total_markets": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of active markets",
            "example": 45
          },
          "total_volume_24h": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "Total 24-hour volume across all markets in SOL",
            "example": 1250.67
          },
          "total_traders": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of unique traders across all markets",
            "example": 234
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the API response",
            "example": "2025-10-22T17:51:28.517Z"
          }
        }
      },
      "TrendingResponse": {
        "type": "object",
        "required": ["trending_markets", "aggregate_stats"],
        "properties": {
          "trending_markets": {
            "type": "array",
            "maxItems": 10,
            "description": "Array of top 10 trending markets ranked by volume",
            "items": {
              "$ref": "#/components/schemas/TrendingMarket"
            }
          },
          "aggregate_stats": {
            "$ref": "#/components/schemas/AggregateStats"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type",
            "example": "Internal server error"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message",
            "example": "Failed to fetch trending markets data"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication (future implementation)"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
